.topbar {
  position: fixed;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 58px;
  border: 2px solid #efeff1;
  width: 100%;
}

.home {
  /* ⭐️ Favorites */
  position: fixed;

  /* App / Header 3 - 500 */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-decoration: none;

  /* Shade 20 - LM */

  color: #91939d;

  /* Inside Auto Layout */

  align-self: flex-start;
  margin: 16px 26px;
}

.breadcrumb {
  color: #46474f;
}

.chevron {
  width: 16px;
  height: 16px;
}

.star {
  float: right;
  margin: 16px;
  cursor: pointer;
}

.outline {
  float: right;
  margin: 16px;
  cursor: pointer;
}
