.sidebar {
  margin-top: 60px;
  padding: 23px;
  width: 269px;
  border: 2px solid #efeff1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.notelist {
  /* Auto Layout */
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 245px;
  height: 140px;
  left: 12px;
  top: 12px;
}

.note {
  margin: 16px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: #818181;
}

.sidebar a:hover {
  background-color: #f4f4f6;
  transition: all 0.13s ease-in-out;
}
