.sidebar {
  position: absolute;
  width: 1186px;
  height: 51px;
  left: 48px;
  top: 109px;
}

.divider {
  /* Divider */

  position: absolute;
  width: 772.5px;
  right: -772.5px;
  top: 0.5px;
  bottom: 772.5px;

  /* Shade 45 - LM */

  border: 2px solid #efeff1;
  transform: rotate(90deg);
}

.notelist {
  /* Note list */

  /* Auto Layout */

  display: flex;
  flex-direction: column;
  padding: 0px;

  position: absolute;
  width: 245px;
  height: 140px;
  left: 12px;
  top: 12px;
}

.favorites {
  position: static;
  width: 245px;
  height: 32px;
  left: 0px;
  top: 0px;

  /* Shade 50 - LM */

  background: #f5f5f7;
  border-radius: 4px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  margin: 0px 4px;
}

.favoritestext {
  position: absolute;
  width: 189px;
  height: 9px;
  left: 8px;
  top: calc(50% - 9px / 2 + 0.5px);

  /* App / Header 3 - 500 */

  font-family: SF Pro Text;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  display: flex;
  align-items: center;

  /* Shade 05 - LM */

  color: #46474f;
}
