.div {
  position: fixed;
  height: 100vh;
  /* Shade 45 - LM */

  color: 2px solid #efeff1;
}

.sidebar {
  padding-left: 12px;
  padding-right: 12px;
  color: #46474f;
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;

  color: #818181;
}

.sidebar a:hover {
  background-color: #f4f4f6;
  transition: all 0.13s ease-in-out;
}
