.editorContainer {
  position: absolute;
  left: 428px;
  top: 155px;
}

.heading {
  /* Editor / Title */
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 55px;

  /* identical to box height, or 120% */
  letter-spacing: -0.02em;

  /* Shade 05 - LM */
  color: #46474f;
}

.callout {
  position: absolute;
  width: 600px;
  height: 99px;
  left: 0px;
  top: 75px;

  /* Purple Shade Dark - LM */
  background: #edf1ff;
}

.calloutText {
  /* Here you’ll find all the important information related to our internal culture. 
  You can read about our story, learn about our values, and 
  get the full overview of the tools we use. */

  position: absolute;
  width: 513px;
  height: 63px;
  left: 56px;
  top: 16px;

  /* Editor / Body - 400 */
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;

  /* or 160% */
  display: flex;
  align-items: center;

  /* Shade 05 - LM */
  color: #46474f;
}

.info {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 24px;
  top: 16px;
}

.rectangle {
  position: absolute;
  width: 8px;
  height: 99px;
  left: 0px;
  top: 0px;
  bottom: 0px;

  /* Purple - LM */

  background: #5168ec;
}

.noteLinkList {
  /* Auto Layout */
  position: absolute;
  top: 202px;
}

.note {
  /* Auto Layout */
  display: flex;
  width: fit-content;

  /* Purple Shade Dark - LM */
  background: #edf1ff;

  /* App / Header 3 - 500 */
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;

  /* Purple - LM */
  color: #5168ec;

  /* Inside Auto Layout */
  margin: 4px 0px;
}

.note a {
  text-decoration: none;
  color: #5168ec;
  display: flex;
}
